name: Build with CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build with CMake
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v3
    - name: Setup VCPKG
      uses: lukka/run-vcpkg@v11
    - name: Pull Dependencies
      run: just sync
    - name: Generate Build Directory
      run: just setup
    - name: Build with CMake
      run: just build
